<div id="countdown" class="countdown">
	<div class="countdown-heading">
		<h3 class="heading2">
			<small>Under Construction ....</small>
			<span class="text-secondary">
				Counting down to launch date
			</span>
		</h3>
	</div>

	<div class="countdown-item days md-heading">
		<p class="day"></p>
	</div>

	<div class="countdown-item hours md-heading">
		<p class="hour"></p>
	</div>

	<div class="countdown-item minutes md-heading">
		<p class="minute"></p>
	</div>

	<div class="countdown-item seconds md-heading">
		<p class="second"></p>
	</div>
</div>