<div class="card" style="margin: 10px 10px 0 0; padding: 0; align-items: center;">
	<div class="card-divider">
		<i class="fas fa-cogs fa-2x"></i>&nbsp;
		<div><span class="label secondary" style="color: #003; border-radius: 5px; font-family: cursive; font-size: 1.3rem; font-weight: 800;">Settings</span></div>
	</div>
</div>