<div class="row v-scroll" style="display: block; margin: 20px 0 0 0;">
	<ul class="accordion" data-responsive-accordion-tabs="accordion medium-tabs large-accordion" data-allow-all-closed="true">
		<li class="accordion-item" data-accordion-item>
			<a href="#settings" class="accordion-title">				
				<i class="fas fa-cogs fa-2x"></i>&nbsp;Settings
			</a>
			
			<div id="settings" class="accordion-content" data-tab-content>
				<div class="card-divider">
					<p>Theme</p>
				</div>
			</div>
		</li>
		
		<li class="accordion-item" data-accordion-item>
			<a href="#people" class="accordion-title">				
				<i class="fas fa-users fa-2x"></i>&nbsp;People
			</a>
			
			<div id="people" class="accordion-content" data-tab-content>
				<div class="card-divider">
					<p>Addresses</p>
				</div>
			</div>
		</li>
		
		<li class="accordion-item" data-accordion-item>
			<a href="#cars" class="accordion-title">				
				<i class="fas fa-envelope fa-2x"></i>&nbsp;Cars
			</a>
			
			<div id="cars" class="accordion-content" data-tab-content>
				<div class="card-divider">
					<p>Models</p>
				</div>
			</div>
		</li>
	</ul>
</div>