<header id="header" class="header">
	{{>search}}
	<div class="search">
		<i class="fa fa-search"></i>
	</div>
	
	<div class="menu">
		<div class="menu-btn">
			<div class="btn-line"></div>
			<div class="btn-line"></div>
			<div class="btn-line"></div>
		</div>	
	</div>	
</header>