<form method="post" action="/auth/login" class="login">
	<div class="input-group">
		<label class="label">
			<i class="fa fa-envelope"></i>
		</label>
		
		<input class="input-group-field" type="email" name="email" id="email" placeholder="Enter your email" required/>
	</div>
	
	<div class="input-group">
		<label class="label">
			<i class="fa fa-lock"></i>
		</label>
		
		<input class="field" type="password" name="pwd" id="pwd" placeholder="Enter your password" required/>
	</div>
	
	<div class="input-group">
		<input type="submit" class="button primary" value="Submit"/>
	</div>
</form>