<main id="home">
	<h1 class="lg-heading">
		Rick <span class="text-secondary">JW</span>
	</h1>
	
	<h2 class="sm-heading">
		Web Developer, Designer & Programmer
	</h2>
	
	<div class="icons">
		<a target="_blank" href="https://plus.google.com/u/0/104269964696637632548">
			<i class="fab fa-google-plus fa-2x"></i>
		</a>
		
		<a target="_blank" href="https://www.facebook.com/profile.php?id=100017288640266">
			<i class="fab fa-facebook fa-2x"></i>
		</a>
		
		<a target="_blank" href="https://www.linkedin.com/in/richard-w-95512214a">
			<i class="fab fa-linkedin fa-2x"></i>
		</a>
		
		<a target="_blank" href="https://github.com/quobod">
			<i class="fab fa-github fa-2x"></i>
		</a>
	</div>
</main>