{{>header}}

<main id="api-home">	
	<h1 class="md-heading heading">{{cfc title}}</h1>	

	<div class="content">
		<h2 class="sm-heading heading">
		<p class="lead">
			Quam libero nam
		</p>
		Sports Fantasy Website API</h2>
		<p class="lead">
			Dui euismod fringilla amet ac laborum. Morbi non urna volutpat quam odio. Wisi sed morbi. Augue ante lectus. Eget sed rhoncus. At blandit semper. Cursus in leo ac pellentesque sodales neque faucibus eget. Amet vestibulum arcu suspendisse nam elit. Tellus porttitor sed.
		</p>
		<p>This is a paragraph element within a div element which is inside a main element. The main element is an exclusive HTML5 element.</p>
	</div>
	
	<h3 class="md-heading heading">
		{{#if hasResults}}
			{{#each result}}
				
			{{/each}}
		{{/if}}
	</h3>
</main>

<!-- api-home -->
