{{>menu}}

<main id="about">	
	<h1 class="md-heading heading">{{ cfc subtitle }}</h1>	

	<div class="content">
		<h2 class="sm-heading heading">
		<p class="lead">
			Lobortis ut nam ac condimentum aliquet ut mi sit pellentesque molestie nisl dui ultricies magna pellentesque dolor ipsum
		</p>
		Fantasy Sports Website <small><b>Mission</b></small></h2>
		<p>This is a paragraph element within a div element which is inside a main element. The main element is an exclusive HTML5 element.</p>
	</div>
</main>