{{>menu}}

<main id="home">	
	<h2 class="md-heading heading">The Index/Home Page</h2>	

	<div class="content">
		<p>This is a paragraph element within a div element which is inside a main element. The main element is an exclusive HTML5 element.</p>
	</div>
</main>