{{>header}}

<main id="home">	
	<h2 class="md-heading heading">{{cfc title}}</h2>	

	<div class="content">
		<h2 class="sm-heading heading">
			<p class="lead">
				Welcome To<small> <b>Fantasy Sports Website.</b>
				</small>
			</p></h2>
		<p>This is a paragraph element within a div element which is inside a main element. The main element is an exclusive HTML5 element.</p>
	</div>
</main>