main {
	display: grid;
	grid-row-gap: 1rem;	
}

#about {
	display: grid;
	grid-gap: 0;
	
	.heading {
		padding: 0;
		margin: 4rem 0 0 0;
		width: 100%;
	}
	
	.content {
		padding: 0;
		margin: 0;
		 
		p {
			margin: 0;
			padding: 0;
		}
		
		.heading {
			margin: 0 0 1.3rem 0;
		}
	}
}