main {
	display: grid;
	grid-row-gap: 1rem;	
}

#api-home {
	display: grid;
	grid-gap: 0;
	overflow: auto;
	
	.heading {
		padding: 0;
		margin: 4rem 0 0 0;
		width: 100%;
	}
	
	.content {
		padding: 0;
		margin: 0;
		 
		p {
			margin: 0;
			padding: 0;
		}
		
		.heading {
			margin: 0 0 1.3rem 0;
		}
	}
	
	.results-list {
		padding: 0;
		margin: 0;
		text-align: center;
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
		max-height: 30vh;
		
		li {
			padding: 0;
			margin: 0;
		}
	}
}