@import 'config';
@import 'callout';
@import 'home';
@import 'menu';
@import 'about';
@import 'api';
@import 'api-desktop-lg';
@import 'header';
@import 'header-with-search';
@import 'search';
@import 'search-form';

/* General HTML defaults*/

/* For all elements */
* {
	box-sizing: border-box;
}

/* The default document's body settings */
body {
	@include background-with-image;
	overflow-x: hidden;
	background-color: $primary-color;
	color: $secondary-color;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	font-family: "times new roman", arial-narrow, arial, cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
}

/* The three main headings I care about */
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	font-weight: 700;
	text-align: center;
	line-height: 0.7;
	letter-spacing: 1;
	
	&.lg-heading {
		font-size: 5rem;
		text-align: center;
	}
	
	&.md-heading {
		font-size: 2.5rem;
		text-align: center;
	}
	
	&.sm-heading {
		font-size: 1.21rem;
		text-align: center;
	}
}

/* Paragraph lead text */
.lead {
	color: #68f;
	font-size: 1.8rem;
	line-height: 0.9;
	font-family: "times new roman";
	font-weight: normal;
	padding: 0;
	margin: 0;
	opacity: 0.5;
}

p {
	font-family: "times new roman";
	font-weight: normal;
	font-size: 1.3rem;
	font-family: "arial narrow", arial, serif, cursive, georgia;
	padding: 0;
	margin: 0;
	color: #a99;	
	overflow: auto;
}

/* Default link style */
a {
	color: #fff;
	text-decoration: none;
	padding: 5px;
}

/* A basic header */
header {
	position: fixed;
	z-index: 2;
	width: 100%;
	padding: 0;
	margin: 0;
	top: 0;	
	font-family: "times new roman", arial, arial-narrow, georgia, serif, cursive, sans-serif;
	font-size: 1.3rem;
}
	
/* The main element */
main {	
	padding: 0;
	margin: 0;
	min-height: calc(100vh - 60px);
	/* overflow: hidden; */
}

/* Global Constants */

/* Secondary text color */
.text-secondary {
	color: $secondary-color;
}

/* Default button styles */

/* Regular button */
.btn {
	display: block;
	padding: 0.5rem 1rem;
	border: 0;
	margin-bottom: 0.3rem;
	
	&:hover {
		background: $secondary-color;
		color: set-text-color($secondary-color);
	}
}

/* Dark button */
.btn-dark {
	@extend .btn;
	background: darken($primary-color, 50);
	color: #fff;
}

/* Light button */
.btn-light {
	@extend .btn;
	background: lighten($primary-color, 50);
	color: #333;
}

/* Default main footer */
#main-footer {
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 1.3rem 0 0 0;
	background: rgba(darken($primary-color, 10), 0.9);
	color: set-text-color($primary-color);
	font-weight: normal;
	font-size: 0.7rem;
	font-family:  "arial narrow", "times new roman", georgia, serif, garamond, sans-serif;
	position: fixed;
	width: 100%;
	height: 60px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100vw; /* Full width */
	height: 100vh; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: rgba(darken($primary-color, 5), 0.7);
	margin: 2rem 11%; /* 15% from the top and centered */
	padding: 0 20px;
	@include border-with-radius;
	width: 80%; /* Could be more or less, depending on screen size */
	height: 80vh;
	overflow: auto;	
}

/* The Close Button */
.modal-closer {
	@include easeOut();
	color: #aaa;
	float: right;
	font-size: 2rem;
	font-weight: bold;
}

.modal-closer:hover,
.modal-closer:focus {
	@include easeOut();
	color: #001;
	text-decoration: none;
	cursor: pointer;
}
/* Import media queries to handle the platform layout - e.g mobile layout, laptop/tablet and desktop layouts */
@import 'mobile';
